html{min-height: 100%; position: relative;}
body{background: #fff;}
main{min-height: 100%; margin-bottom: 250px;}
#loader{
  background: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50000;
}
#loader .preloader-wrapper{
  color: #ddd;
  left: 50%;
  margin: -32px 0 0 -32px;
  position: absolute;
  top: 50%;
}
header{
  position: relative;
  z-index:10;
}
ul.tags > li.tag{display: inline-block; margin-bottom:3px;}
ul.tags > li.tag a{border: 1px solid; border-radius: 10px; margin-right: 5px; padding:0 10px;}
footer{position:absolute; bottom:0; width: 100%;}
.products .parallax-container{margin-bottom: 100px;}
.card:hover {box-shadow: 0 10px 20px rgba(0,0,0,0.1); top: -10px;
	}
